body {
  color:white;
  background: grey;
  margin: 0px;
}

header {
  border-bottom: solid 1px #000000
}


.chamada { 
background:(#464684);

}


.categoria-videos {
display:flex ;
overflow-x:auto;
gap: 10px;
}

.categoria {
padding-left: 20px;
padding-left: 20px;
}

.categoria-videos img {
opacity:0.5;
height: 200px;
}

.categoria-videos img:hover {
opacity: 1.0;
border: 1px solid green;
}